Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/t10k-images-idx3-ubyte
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/t10k-labels-idx1-ubyte
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/train-images-idx3-ubyte
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/train-images-idx3-ubyte.gz
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/train-labels-idx1-ubyte
Lab 1/4HandwrittenDigitsRecognition/data/MNIST/raw/train-labels-idx1-ubyte.gz
Lab 1/1055141122MNIST.ipynb
